<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Embedded iframe Example</title>
</head>
<body>

<h1>Embedded iframe Example</h1>

<div id="iframeContainer">
    <iframe src= "https://app.formwise.ai/dashboard/1717505473743x171077984022954000"
    allow="clipboard-write" style="border:0px #ffffff none;" 
    name="FormWise.ai"
    scrolling="yes"
    frameborder="0"
    marginheight= "0px"
    marginwidth= "0px"
    id="toolsetiframe" 
    height="700px"
    width="100%"
    allowfullscreen > 
</iframe>
</div>

<script src="scriptureSync.js"></script>
</body>
</html>
