header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-weight: bold;
  background-color: #f7f3e9;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  color: #000;
  border: none;
  cursor: pointer;
  display: flex;
  padding-top: 0.75rem 1.5rem;
  height: 100%;
  font-size: 28px;
}

ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

li {
  padding: 14px;
  /* transition: all linear 0.3s; */
}

li:hover {
  color: #000;
  background: #f7f3e9;
  cursor: pointer;
}

.dropdown-menu {
  color: #000;
  background: #f7f3e9;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all linear 0.3s;
}

.nav-links-our-mission {
        color: #000;
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: flex start;
        padding: 0.75rem 1.5rem;
        height: 100%;
        font-weight: bold;
        font-size: 28px;
}

.nav-links-testimonials {
        color: #000;
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: flex start;
        padding: 0.75rem 1.5rem;
        height: 100%;
        font-weight: bold;
        font-size: 28px;
}

.nav-links-ask-an-apostle {
        color: #000;
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: flex start;
        padding: 0.75rem 1.5rem;
        height: 100%;
        font-weight: bold;
        font-size: 28px;
}
